@import "tailwindcss";

@layer components {
  .slider-responsive {
    @apply w-full aspect-[1134/377] object-cover
  }
}

@layer base {
  :root {
    --font-jost: "Jost", system-ui, sans-serif;
  }

  html, body {
    font-family: var(--font-jost);  
  }
}

button {
  cursor: pointer;
}

.banner-promo {
  background-color: #262628;                               
}

.ferredip-color {
  background-color: #e94923;
}

.cart-labe {
    position: relative;
    top: -16px;
    right: 10px;
    background-color: #ff5e00;
    color: white;
}

